{{#>coreLayout}}
  {{#*inline "allContent"}}
    <div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <br>
              <h2 class="text-center">
                <i class="fa fa-check-circle fa-2x" style="color: #31b0d5; position: relative; bottom: -10px;"></i>
                {{t "forgotPwd.successSubTitle"}}
              </h2>
              <div class="box no-border">
                {{#if err}}
                  <p style="padding: 15px;">
                    {{err}}
                  </p>
                {{else}}
                  <p class="text-center" style="padding: 15px;">
                    {{t "login.reg-confirm-1"}} {{email}}.
                    <br>
                    {{t "login.reg-confirm-2"}}
                  </p>
                {{/if}}
                <br>
                <p class="buttons text-center">
                  <a href="/" class="btn btn-info btn-lg">
                    <i class="fa fa-home"></i>
                    {{t "forgotPwd.goToHome"}}
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#content -->
    {{>footer}}
    {{>copyright}}
  {{/inline}}
{{/coreLayout}}
