<!-- *** FOOTER ***
_________________________________________________________ -->

<div id="footer">
  <div class="container">
    <!-- /.col-md-3 -->
    <div class="col-md-4 col-sm-6">
      <h4>{{t "footer.okchemPages"}}</h4>
      <ul>
        <li>
          <a href="https://www.chembnb.com/group-buying">{{t "footer.chembnb"}}</a>
        </li>
        <li>
          <a href="https://www.okchem.com/instant-quote">{{t "footer.instantQuote"}}</a>
        </li>
        <li>
          <a href="https://www.okchem.com/instant-quote/mini-office">{{t "footer.okchemMall"}}</a>
        </li>
        <li>
          <a href="https://www.okchem.com/instant-quote/finance">{{t "footer.foodAdditives"}}</a>
        </li>
        <li>
          <a href="https://www.okchem.com/">{{t "footer.orker"}}</a>
        </li>
      </ul>
      <hr class="hidden-md hidden-lg hidden-sm">
    </div>
    <!-- /.col-md-3 -->
    <!--<div class="col-md-3 col-sm-6">
      <h4>User section</h4>
      <ul>
        <li><a href="/instant-quote/login" data-toggle="modal" data-target="#login-modal">Login</a></li>
        <li><a href="/instant-quote/register">Register</a></li>
      </ul>
      <hr class="hidden-md hidden-lg hidden-sm">
    </div>-->
    <!-- /.col-md-3 -->
    <div class="col-md-4 col-sm-6">
      <h4>{{t "footer.contactUs"}}</h4>
      <ul>
        <li>
          <a href="mailto:info@okchem.com">
            <i class="fa fa-envelope-o"></i>
            info@okchem.com
          </a>
        </li>
        <li><a href="https://www.okchem.com/companyinfo/contactus">{{t "footer.moreContacts"}}</a></li>
      </ul>
      <hr class="hidden-md hidden-lg hidden-sm">
    </div>
    <!-- /.col-md-3 -->
    <div class="col-md-4 col-sm-6">
      <h4>{{t "footer.followUs"}}</h4>
      <p class="social">
        <a href="https://www.linkedin.com/company/okchem" style="color:#007bb6;"><i
          class="fa fa-linkedin-square"></i></a>
        <a href="https://www.facebook.com/okchemcom" style="color:#3b579d;"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/okchemcom" style="color: #00aced;"><i class="fa fa-twitter-square"></i></a>
      </p>
      <hr class="hidden-md hidden-lg hidden-sm">
    </div>
    <!-- /.col-md-3 -->
  </div>
  <!-- /.container -->
</div>


<!-- /#footer -->
<script>
  window.FOOTER_VAL_MSG_EMAIL = '{{t 'footer.valMsgEmailValidate'}}'
  window.FOOTER_SUBMIT_FAILED = '{{t 'footer.verifySupplierFailed'}}'
</script>
<!-- *** FOOTER END *** -->
